@tailwind base;
@tailwind components;
@tailwind utilities;

*, :root, button
{
    font-family: 'Poppins';
    letter-spacing: -0.2px;
}

main
{
    border-top-left-radius: 2.3rem;
    border-top-right-radius: 2.3rem;
}

main > div {
    align-items: center;
    justify-items: center;
}

::-webkit-scrollbar
{
    width: 0px;
}

.avatar
{
    background-color: #ddd;
    border-radius: 46%;
    text-indent: -9999px;
}
